@import 'tailwindcss';

@plugin 'flowbite/plugin';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-base: #292e22; /* 暗めのオリーブ */
  --color-accent: #FFD700; /* ゴールド */
}

body {
  background-color: #121212;
}